*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100vh;
    background-color: #212121;
}
#container{
    height: 100vh;
    width: 100%;

}

#clockContent{
    text-align: center;
    padding-top: 200px;
}
h1{
    margin-bottom: 20px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 950;
    font-size: 66px;
}
#alarmdetails{
    color: #fff;
    font-size: 28px;
    width: 25vw;
    margin: 20px auto;
}
.alarms{
    border: 5px solid white;
    margin: 10px 0;
}
.alarms button{
    margin-left: 20px;
    background-color: rgb(255, 58, 58);
}

#currenttime span{
    border: 5px solid white;
}
#inputfield{
    color: #fff;
    font-size: 28px;
    display: none;
}

#inputfield input{
    padding:.5vw;
    border-radius: 10px;
    width:fit-content;
    height: 50px;
    font-size: 28px;
}
hr{
    color: #fff;
}
button{
    cursor: pointer;
    font-family: sans-serif;
    padding:1vw;
    background-color: #007bff;
    color: #fff;
    margin-top: 4vw;
    border-radius: 10px;
}
#currenttime{
    color: #fff;
    font-size: 28px;
    margin: 30px 0;
}
#inputfield button{
    margin: 0 2vw;
}